body{
    font-family: 'Merriweather', serif;
}


.banner{
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background: #070211 0%, rgba(7, 2, 17, 0.00) 
}

.banner, .taxt-primary{
    display: block;
    text-align: center;
    
    
}
