body{
    font-family: 'Merriweather', serif;
}

.banner{
    width: 80%;
    max-width: 1320px;
    margin: 50px auto;
    height: 600px;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}


.banner, .taxt-primary{
    display: block;
    text-align: center;
    color: aliceblue;
       
}
